@each $palette-color-prefix, $palette-color-variables in get-background-colors-palette($selects-background-colors-support-extra-colors-palette, $selects-background-colors-support-skip-colors-palette) {
    .#{$background-colors-class-prefix}-#{$palette-color-prefix} {
        select {
            border-color: map_get($palette-color-variables, map_get($selects-background-colors-support-parser, border-color));
            background-color: map_get($palette-color-variables, map_get($selects-background-colors-support-parser, background-color));
            color: map_get($palette-color-variables, map_get($selects-background-colors-support-parser, color));

            &:focus {
                border-color: map_get($palette-color-variables, map_get($selects-background-colors-support-parser, focus-border-color));
            }

            &[multiple]:focus option:checked {
                @include include-select-focus-multiple-option-checked-background(map_get($palette-color-variables, map_get($selects-multiple-background-colors-support-parser, focus-option-checked-background)));
                color: map_get($palette-color-variables, map_get($selects-multiple-background-colors-support-parser, focus-option-checked-color));
            }
        }
    }
}
